<h1>Contact List</h1>

<button id="loadContacts">Load Contact List</button>
<button id="addContact">Add A New Contact</button><br>
<hr>
<div id="SearchForm">
  <form id="search"> 
    <label for="query">Search Contact</label>
    <input type="text" id="query">
    <button id="searchContact">Search</button>
  </form>
</div>

<hr>

<div id="results">
  <table id="contact_table">
    <thead>
      <tr>
        <th>Contact ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div id="ContactForm">
  <fieldset>
    <legend>Add New Contact</legend>
    <form id="newContact">
      <input type="text" id="name" placeholder="Contact Name"><br>
      <input type="text" id="surname" placeholder="Contacrt Surname"><br>
      <input type="text" id="email" placeholder="Email"><br>
      <input type="text" id="phone" placeholder="Phone Number"><br>
      <input type="submit" value="Create Contact">
    </form>
  </fieldset>
</div>


